body {
    background-color: rgb(22, 8, 54);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main {
    background-color: #7A306C;
    color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}

.container {
    margin-top: 50px;
}

.container button {
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.container button:hover {
    background-color: rgb(109, 172, 214);
    color: white;
    transform: scale(0.9);
    box-shadow: #333;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 20px 25px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
}

.selected {
    background-color: rgb(109, 172, 214);
    color: rgb(255, 255, 255);
}

.tentar-novamente {
    background-color: rgb(87, 4, 155);
    color: white;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    transition: 0.8s;
}

.tentar-novamente:hover {
    background-color: #ccc;
    color: black;
}

.safe {
    color: green;
    font-weight: 600;
}

.danger {
    color: red;
}
