body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;

}

.tentar-novamente {
    margin-top: 50px;
}

.safe {
    color: green;
}

.danger {
    color: red;
}
